@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background: -o-linear-gradient(210deg, rgba(128, 255, 219, 0.7), rgba(122, 251, 221, 0.79), rgba(116, 246, 222, 0.88), rgba(111, 242, 223, 0.97), #6beddf, #68e8e0, #66e4df, #64dfdf);
  background: linear-gradient(240deg, rgba(128, 255, 219, 0.7), rgba(122, 251, 221, 0.79), rgba(116, 246, 222, 0.88), rgba(111, 242, 223, 0.97), #6beddf, #68e8e0, #66e4df, #64dfdf);
  font: rgba(128, 255, 219, 0.7), rgba(122, 251, 221, 0.79), rgba(116, 246, 222, 0.88), rgba(111, 242, 223, 0.97), #6beddf, #68e8e0, #66e4df, #64dfdf;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo nav-bar ...";
  background-color: #513b56;
}

.logo {
  grid-area: "logo";
}

.nav-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: "nav-bar";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-bar > li > * {
  cursor: pointer;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  margin: 1rem;
  font-family: "Arimo", sans-serif;
  font-size: 3.5rem;
  text-decoration: none;
  font-weight: bold;
  color: #aaa6bb;
  display: block;
  overflow: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgb(100, 200, 200)), to(rgb(100, 200, 200))), -webkit-gradient(linear, left top, right top, from(#ffb56b), color-stop(#fbbd58), color-stop(#f1c744), color-stop(#e1d231), color-stop(#cbde20), color-stop(#ace91b), color-stop(#81f42b), to(#28ff45));
  background: -o-linear-gradient(left, rgb(100, 200, 200), rgb(100, 200, 200)), -o-linear-gradient(left, #ffb56b, #fbbd58, #f1c744, #e1d231, #cbde20, #ace91b, #81f42b, #28ff45);
  background: linear-gradient(to right, rgb(100, 200, 200), rgb(100, 200, 200)), linear-gradient(90deg, #ffb56b, #fbbd58, #f1c744, #e1d231, #cbde20, #ace91b, #81f42b, #28ff45);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  -webkit-transition: background-size 400ms;
  -o-transition: background-size 400ms;
  transition: background-size 400ms;
}
.nav-bar > li > *:hover {
  background-size: 0 3px, 100% 3px;
}

.justify-space-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}