@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html,
body,
main,
div#__next {
  height: 100%;
  overflow-y: hidden;
}

body {
  background: -o-linear-gradient(210deg, #80ffdb, #7afbdd, #74f6de, #6ff2df, #6beddf, #68e8e0, #66e4df, #64dfdf);
  background: linear-gradient(240deg, #80ffdb, #7afbdd, #74f6de, #6ff2df, #6beddf, #68e8e0, #66e4df, #64dfdf);
}

.app {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo nav-bar ...";
  background-color: #513b56;
}

.logo {
  grid-area: logo;
}

.nav-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: nav-bar;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-bar > li > * {
  cursor: pointer;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  margin: 1rem;
  font-family: "Arimo", sans-serif;
  font-size: 3.5rem;
  text-decoration: none;
  font-weight: bold;
  color: #aaa6bb;
  display: block;
  overflow: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgb(100, 200, 200)), to(rgb(100, 200, 200))), -webkit-gradient(linear, left top, right top, from(#ffb56b), color-stop(#fbbd58), color-stop(#f1c744), color-stop(#e1d231), color-stop(#cbde20), color-stop(#ace91b), color-stop(#81f42b), to(#28ff45));
  background: -o-linear-gradient(left, rgb(100, 200, 200), rgb(100, 200, 200)), -o-linear-gradient(left, #ffb56b, #fbbd58, #f1c744, #e1d231, #cbde20, #ace91b, #81f42b, #28ff45);
  background: linear-gradient(to right, rgb(100, 200, 200), rgb(100, 200, 200)), linear-gradient(90deg, #ffb56b, #fbbd58, #f1c744, #e1d231, #cbde20, #ace91b, #81f42b, #28ff45);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  -webkit-transition: background-size 400ms;
  -o-transition: background-size 400ms;
  transition: background-size 400ms;
}
.nav-bar > li > *:hover {
  background-size: 0 3px, 100% 3px;
}

.justify-space-evenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.padding-2-percent {
  padding: 2%;
}

.login-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa21f), color-stop(#f8a90a), color-stop(#f0af00), color-stop(#e7b600), color-stop(#ddbd00), color-stop(#d2c300), color-stop(#c5c900), color-stop(#b7cf00), color-stop(#a8d500), color-stop(#97db00), to(#83e000));
  background: -o-linear-gradient(top, #ffa21f, #f8a90a, #f0af00, #e7b600, #ddbd00, #d2c300, #c5c900, #b7cf00, #a8d500, #97db00, #83e000);
  background: linear-gradient(180deg, #ffa21f, #f8a90a, #f0af00, #e7b600, #ddbd00, #d2c300, #c5c900, #b7cf00, #a8d500, #97db00, #83e000);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  -webkit-box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
          box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #080808;
  font-weight: 600;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.6%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-box-shadow 0.15s, -webkit-transform 0.15s;
  transition: -webkit-box-shadow 0.15s, -webkit-transform 0.15s;
  -o-transition: box-shadow 0.15s, transform 0.15s;
  transition: box-shadow 0.15s, transform 0.15s;
  transition: box-shadow 0.15s, transform 0.15s, -webkit-box-shadow 0.15s, -webkit-transform 0.15s;
  will-change: box-shadow, transform;
}
.login-button:focus {
  -webkit-box-shadow: #d5e03c 0 0 0 2.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3ce073 0 -3px 0 inset;
          box-shadow: #d5e03c 0 0 0 2.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3ce073 0 -3px 0 inset;
}
.login-button:hover {
  -webkit-box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(240, 176, 0, 0.7960784314) 0 -3px 0 inset;
          box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(240, 176, 0, 0.7960784314) 0 -3px 0 inset;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
.login-button:active {
  -webkit-box-shadow: rgba(111, 242, 222, 0.5019607843) 0 3px 7px inset;
          box-shadow: rgba(111, 242, 222, 0.5019607843) 0 3px 7px inset;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.blur-background {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  opacity: 0.8;
  width: 70vw;
  height: 70vh;
  border-radius: 10rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#642b73), to(#c6426e));
  background-image: -o-linear-gradient(left, #642b73, #c6426e);
  background-image: linear-gradient(to right, #642b73, #c6426e);
  display: block;
}