@use "sass:list";
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

$background-opacity: 1;
$background-colors: #80ffdb, #7afbdd, #74f6de, #6ff2df, #6beddf, #68e8e0,
  #66e4df, #64dfdf;

// Not used
@function set-opacity($color-list, $opacity) {
  $new-color-list: ();
  @each $color in $color-list {
    $new-color: rgba($color, $alpha: $opacity);
    $new-color-list: list.append(
      $new-color-list,
      $new-color,
      $separator: comma
    );
  }
  @return $new-color-list;
}

@function set-opacity-gradient($color-list, $opacity, $degree) {
  $new-color-list: ();
  $extra-opacity: $degree * (length($color-list)-1);
  $opacity: $opacity - $extra-opacity;
  @each $color in $color-list {
    $new-color: rgba($color, $alpha: $opacity + $extra-opacity);
    $extra-opacity: $extra-opacity - $degree;
    $new-color-list: list.append(
      $new-color-list,
      $new-color,
      $separator: comma
    );
  }
  @return $new-color-list;
}

$background-colors-with-opacity: set-opacity(
  $background-colors,
  $background-opacity
);

$background-colors-with-opacity-gradient: set-opacity-gradient(
  $background-colors,
  1,
  -0.09
);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background: linear-gradient(240deg, $background-colors-with-opacity-gradient);
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo nav-bar ...";
  background-color: #513b56;
}

.logo {
  grid-area: "logo";
}

.nav-bar {
  width: 100%;
  display: flex;
  grid-area: "nav-bar";
  justify-content: center;
  align-items: center;
  & > li > * {
    cursor: pointer;
    block-size: fit-content;
    margin: 1rem;
    font-family: "Arimo", sans-serif;
    font-size: 3.5rem;
    text-decoration: none;
    font-weight: bold;
    color: #aaa6bb;
    display: block;
    overflow: auto;
    // the cool underline animation
    background: linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        90deg,
        #ffb56b,
        #fbbd58,
        #f1c744,
        #e1d231,
        #cbde20,
        #ace91b,
        #81f42b,
        #28ff45
      );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    &:hover {
      background-size: 0 3px, 100% 3px;
    }
  }
}

// Utility for Divs

.justify-space-evenly {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.justify-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.justify-right {
  display: flex;
  width: 100%;
  justify-content: right;
}
